<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>
        {% block title %}
             Stack Overfill
        {% endblock title %}
    </title>
</head>
<body>
        <nav>
            <a href="{% url 'core_app:home_page' %}">Stack Overfill</a>
            <ul>
                <li>
                    <a href="{% url 'core_app:ask_question' %}">Ask</a>
                </li>
                <li>
                    <a href="{% url 'core_app:today_questions' %}">Today's Questions</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'user_app:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'user_app:login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'user_app:register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div>
            {% block body %}
            {% endblock body %}
        </div>
</body>
</html>