{% load markdownify %}

<h3>Answers</h3>
<ul>
    {% for answer in question.answer_set.all %}
        <li>
            {% if answer.accepted %}
                <span>Accepted</span>
            {% endif %}

            {% if answer.accepted and reject_form %}
                <form method="post" action="{% url 'core_app:update_answer_acceptance' pk=answer.id %}">{% csrf_token %}
                    {{reject_form}}
                    <button type="submit">
                        Reject
                    </button>
                </form>
            {% elif accept_form %}
                <form method="post" action="{% url 'core_app:update_answer_acceptance' pk=answer.id %}">{% csrf_token %}
                    {{accept_form}}
                    <button type="submit">
                        Accept
                    </button>
                </form>
            {% endif %}

            <div>
                {{answer.answer|markdownify}}
            </div>
            <div>
                Answered by {{answer.user}} on {{answer.created}}
            </div>
        </li>
    {% empty %}
        <li>NO answers yet!</li>
    {% endfor %}
</ul>
